* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

#root {
    width: 1000px;
    height: 600px;
    display: flex;
    margin-top: 50px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 5px 5px 45px 10px  rgba(32, 166, 207, 0.5);

}

.child1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    justify-content: center;
    gap: 30px;
    
}
.greet{
    text-align: center;

}
p{
    text-align: center;
    color: rgb(26, 131, 176);

    a{
        text-decoration: none;
        color: rgb(0, 204, 255);
        
    }
}
button{
    width: 160px;
    height: 40px;
    border-radius: 30px;
    background-color: rgb(47, 214, 236);
    font-weight: 900;
    color: white;
    box-shadow: 2px 2px 20px 1px rgb(47, 214, 236);
    border: none;
    cursor: pointer;
    
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
label{
    padding: 20px;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    width: 70%;
    height: 55px;
    align-items: center;
    box-shadow: 2px 2px 15px rgb(47, 214, 236);
}
i{
    color: rgb(47, 214, 236);
    font-size: 20px;
}
input{
    border: none;
    width: 90%;
    font-size: large;
    text-decoration: none;
    color: rgb(47, 214, 236);
}
input:focus{
    outline: none;
}
input::placeholder{
    color: rgb(47, 214, 236); 
    font-weight: 300;
}
.child2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    justify-content: center;
    background-color: rgb(47, 214, 236);

   h1,  p{
        color: white;
    }
}